src/main/resources/music.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://lajpat.com/guides/music" 
    targetNamespace="http://lajpat.com/guides/music" 
    elementFormDefault="qualified">

<!-- Request: Filter songs by mood -->
    <xs:element name="getSongRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mood" type="tns:mood"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response: Top 10 songs based on mood -->
    <xs:element name="getSongResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="song" type="tns:song" minOccurs="0" maxOccurs="10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Complex type: Song -->
    <xs:complexType name="song">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="artist" type="xs:string"/>
            <xs:element name="rating" type="xs:float"/>
            <xs:element name="mood" type="tns:mood"/>
        </xs:sequence>
    </xs:complexType>

    
    <!-- Enum for mood -->
<xs:simpleType name="mood">
    <xs:restriction base="xs:string">
        <xs:enumeration value="Happy"/>
        <xs:enumeration value="Sad"/>
        <xs:enumeration value="Relaxing"/>
        <xs:enumeration value="Energetic"/>
        <xs:enumeration value="Dance"/>
        <xs:enumeration value="DanceRomantic"/>
        <xs:enumeration value="Romantic"/>
        <xs:enumeration value="Devotional"/>
        <xs:enumeration value="RomanticSad"/>
        <xs:enumeration value="DanceSad"/>
        <xs:enumeration value="Motivational"/>
        <xs:enumeration value="Romance"/>
        <xs:enumeration value="Sensual"/>
        <xs:enumeration value="Patriotic"/>
        <xs:enumeration value="RomanticSadSensual"/>
        <xs:enumeration value="RomanticSensual"/>
        <xs:enumeration value="DancePatriotic"/>
        <xs:enumeration value="MotivationalPatriotic"/>
        <xs:enumeration value="DanceSensual"/>
        <xs:enumeration value="DevotionalSad"/>
        <xs:enumeration value="DanceMotivationalPatriotic"/>
        <xs:enumeration value="DanceRomance"/>
        <xs:enumeration value="PatrioticSad"/>
    </xs:restriction>
</xs:simpleType>


</xs:schema>